@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  background-color: #010101;
  /* overflow-x:hidden !important; */
}

@font-face {
  font-family: neoneonCustomFont;
  src: url(Neoneon.otf);
}

.page-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 14em;
  margin-right: 0em;
  margin-left: 0em;
  margin-bottom: 8em;
  padding: 15px;
}

.page-header h1 {

  font-size: 10em;
  font-family: neoneonCustomFont;
  line-height: 1em;
  padding: 0em;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e5ebff;
  animation: neon .08s ease-in-out infinite alternate;

}


@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(133, 174, 255, 0.92),
    0 0 30px rgba(133, 174, 255,0.34),
    0 0 12px rgba(137, 101, 255, 0.52),
    0 0 21px rgba(137, 101, 255,0.92),
    0 0 34px rgba(137, 101, 255,0.78),
    0 0 54px rgba(137, 101, 255,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(133, 174, 255,0.98),
    0 0 30px rgba(133, 174, 255, 0.42),
    0 0 12px rgba(137, 101, 255,0.58),
    0 0 22px rgba(137, 101, 255,0.84),
    0 0 38px rgba(137, 101, 255,0.88),
    0 0 60px rgba(137, 101, 255,1);
  }
}

.page-header h1 small {
  font-size: 0.6em;
}

.page-header h2 {
  font-size: 4em;
  text-shadow: 0px 0px 4px #bbcbff, 0px 0px 9px #a8a9fc, 0px 0px 3px #ebbffd;
  color: rgb(210, 220, 253);
  line-height: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.page-header h3 {
  font-size: 1.8em;
  color: #DDE5FC;
  line-height: 1em;
  margin: 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  /* text-decoration: underline; */
} 

/* SIGN UP BUTTON CSS */
.sign-up {
  margin: auto auto;
  text-align: center;
}

.signup{
  color: #e5ebff;
  background-color: #849DE7;
  border: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  border-radius: 35px;
  padding: 3% 8%;
  margin: .5em;
  margin-bottom: 2em;
}

.signup:hover{
  color: #e5ebff;
  background-color: rgb(96, 119, 185);
}

.signup:focus {
  color: #e5ebff;
  background-color: rgb(96, 119, 185);
}

.signup:active{
  color: #e5ebff;
  background-color: rgb(96, 119, 185);
}

.who-what-where{
  padding-left: 10em;
}

.who-what-where h1 {
  font-size: 7em;
  color: #d8e0fa;
  font-family: neoneonCustomFont;
  text-shadow: 0px 0px 9px #bbcbff, 0px 0px 15px #cfa8fc, 0px 0px 5px #f898e2;
  font-weight: 500;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.list-text{
  padding-right: 10em;
}

.list-text  h1{
  font-size: 1.6em;  
  color: #e5ebff;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1 0 0 0;
}

.information{
  margin-top: 8em;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 4em;
  text-align: center;
}

.information p{
  font-size: 1.6em;  
  color: #e5ebff;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
}

.information h1{
  font-size: 6em;
  color: #d8e0fa;
  font-family: neoneonCustomFont;
  text-shadow: 0px 0px 9px #bbcbff, 0px 0px 15px #cfa8fc, 0px 0px 5px #f898e2;
  font-weight: 500;
  text-align: center;
}

.information img {
  display: block;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.competitor-information{
  color: #e5ebff;
  background-color: #849DE7;
  border: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  border-radius: 35px;
  padding: 3% 8%;
  margin: .5em;
  margin-bottom: 1em;

}

.competitor-information:hover{
  color: #e5ebff;
  background-color: rgb(96, 119, 185);
}

.competitor-information:focus {
  color: #e5ebff;
  background-color: rgb(96, 119, 185);
}

.competitor-information:active{
  color: #e5ebff;
  background-color: rgb(96, 119, 185);
}

.innovate-image p{
  font-size: 1.2em;  
}

.innovate-image a:link {
  color: #849DE7;
}

/* visited link */
.innovate-image a:visited {
  color: rgb(96, 119, 185);
}

/* mouse over link */
.innovate-image a:hover {
  color: rgb(96, 119, 185);
}

/* selected link */
.innovate-image a:active {
  color: rgb(96, 119, 185);;
}

.email-link:link {
  color: #849DE7;
}

/* visited link */
.email-link:visited {
  color: rgb(96, 119, 185);
}

/* mouse over link */
.email-link:hover {
  color: rgb(96, 119, 185);
}

/* selected link */
.email-link:active {
  color: rgb(96, 119, 185);;
}

@media only screen and (max-width: 768px) { /*xs on bootstrap*/
  /* body {
    background-color: lightblue;
  } */

  .page-header {
    margin-top: 7em;
    /* margin-right: 1em;
    margin-left: 1em; */
    margin-bottom: 4em;
  }

  .page-header h1 {
    font-size: 3.8em;
    /* margin: 1em; */
    text-align: center;
  }
  .page-header h2 {
    font-size: 2.5em;
    padding: 0;
    margin: 0;
  }
  .page-header h3 {
    font-size: 1.4em;
    padding: 0;
    margin: 0;
  }

  .signup{
    font-size: 1.4em;
  }

  .who-what-where{
    padding-left: 0;
  }

  .who-what-where h1 {
    font-size: 3.4em;
    text-align: center;
  }

  .list-text{
    padding-right: 0;
  }

  .list-text  h1{
    font-size: 1.2em;  
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .information h1{
  font-size: 3.4em;
  }
}