.row1 .header:after {
  content: '1';
}

.row2 .header:after {
  content: '2';
} 

.row3 .header:after {
  content: '3';
} 

.row4 .header:after {
  content: '4';
}

fieldset {
  border-width: 15px;
  padding: 20px;
}

legend {
  padding-left: 20px;
}

.form-floating {
  color: black;
}

.form-floating label {
  margin-left: 20px;
}

.add-row {
  text-decoration: none;
  color: white;
  display: block;
}

button {
  display: block;
  margin: 0 auto;
}

.reciept .form-floating input {
  color: white;
}

#payment-instructions {
  font-size: 0.9em;
  text-decoration: none;
}

#payment-instructions:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: black;
}

.modal-content img {
  width: 50%;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}