.img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bulb {
  margin-left: 25%;
  margin-bottom: 5vh;
  position: relative;
  width: 300px;
  height: 300px;
}

.off {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: landing-bulb 1s ease-in-out forwards;
}

.on {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text {
  width: 600px;
  height: 100px;
  background-image: url(img/text.png);
  opacity: 0;
  animation: 0.5s landing-text 1s ease-in-out forwards;
}

@keyframes landing-bulb {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes landing-text {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .bulb {
    height: 25vh;
    width: 25vh;
    margin: 0;
  }

  .text {
    display: none;
  }
}
