@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: #08060e;
  color: #ffffff;
}