<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
        <title>LaunchX</title>
        <link rel='stylesheet' type='text/css' href='css/innovatetj.css'> 
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');       
        </style>
    </head>
    <body>
        <nav class="navbar">
            <ul class="navbar-nav">
              <li class="logo">
                <a href="/launchx" class="nav-link">
                  <span class="link-text logo-text">LaunchX</span>
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fad"
                    data-icon="angle-double-right"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
                  >
                    <g class="fa-group">
                      <path
                        fill="currentColor"
                        d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                        class="fa-secondary"
                      ></path>
                      <path
                        fill="currentColor"
                        d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                        class="fa-primary"
                      ></path>
                    </g>
                  </svg>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="/launchx/calendar" class="nav-link">
                  <i class="fas fa-calendar-alt"></i>
                  <span class="link-text">Calendar</span>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="/launchx/officers" class="nav-link">
                  <i class="fas fa-users"></i>
                  <span class="link-text">Officers</span>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="/launchx/innovatetj" class="nav-link">
                  <i class="fas fa-lightbulb"></i>
                  <span class="link-text">InnovateTJ</span>
                </a>
              </li>
            </ul>
          </nav>
        
        <main>
            <p id='title'><span style='color: #5978f7;'>InnovateTJ</span> is here!</p>
            <p id='subtitle'>TJ's very own entrpreneurial pitch and workshop event!</p>
            
            <div class='box'>
                <p class='boxtext'>At InnovateTJ, you will be able to collaborate with other innovators to develop a
                pitch for a panel of real entrepreneurs with the chance of winning real money and 
                other prizes! There will also be opportunities for networking with industry 
                professionals, listening to guest speakers in business, and learning skills 
                related to developing your own product/service in workshops!</p>
            </div>
            
            <div class='box'>
                <p class='boxtext'><strong>Location:</strong> Virtual (links will be sent prior to the event)</p>
                <p class='boxtext'><strong>Date:</strong> Saturday, February 20th, 2021</p>
                <p class='boxtext'><strong>Time:</strong> 9 AM - 5 PM</p> 
                <p class='boxtext'><strong>Cost:</strong> $20 per team (this is an OPTIONAL donation that is only 
                for eligibility for the monetary prize) </p>
                <p class='boxtext'><strong>Who:</strong> Teams of 2-4 high school students (Limited to Fairfax, 
                Loudon, Prince William, Arlington, and Falls Church counties as well as their
                respective private schools)</p>
            </div>
            
            <div class='subheading'>
                <p>Tentative Schedule</p>
            </div>
            
            <div class='box'>
                <p class='boxtext'>
                    <img class='center' src='images/InnovateSchedule.PNG' width='100%'>
                </p>
            </div>
            
            <div class='double-box-wrapper'>
                <div class='innerbox'>
                    <p class='boxtext'>Competitions aren't your cup of tea? You can still
                    participate as an InnovateTJ director! Directors will manage different
                    facets of the event from Outreach to Technology to Finance, making sure
                    the day runs smoothly. Click the form icon to apply if you are interested!</p>
                    
                    <p class='boxtext'><i>Applications are due Monday, Feb 1 @11:59 PM</i></p>
                </div>   
                <a id='directorlink' href='https://docs.google.com/forms/d/e/1FAIpQLSfssaxEWhRMHDu68iMRNI-KwRKQEm7N71cndvQOrrYMSAD8Hw/viewform?usp=sf_link' target="_blank">
                   <img src='https://img.icons8.com/color/1600/google-forms-new-logo-1.png' 
                    width='12%'> 
                </a>
            </div>
            
            <div class='subheading'>
                <p>FAQs</p>
            </div>
            
            <div class='box'>
                <p class='boxtext'><span style='border-bottom: 2px solid #5978f7;'><i>How will our products be judged?</i></span></p>
                <p class='boxtext'>Competitors should focus on how well their innovation 
                addresses the topic at hand and how applicable the development is in the real world. 
                In terms of pitching, the focus should be on content, professionalism, and 
                speaking quality.</p>
            </div>
            
            <div class='box'>
                <p class='boxtext'><span style='border-bottom: 2px solid #5978f7;'><i>Will there be prizes?</i></span></p>
                <p class='boxtext'>There will be prizes for the top 3 competitors, as well as possible 
                sponsorship prizes. </p>
            </div>
            
            <div class='box'>
                <p class='boxtext'><span style='border-bottom: 2px solid #5978f7;'><i>If I volunteer, can I also compete?</i></span></p>
                <p class='boxtext'>No, in order to ensure that judging is fair, volunteers will not 
                be allowed to compete in the event.</p>
            </div>
            
        </main>
        <script src="https://kit.fontawesome.com/6245d15734.js" crossorigin="anonymous"></script>
    </body>
    
</html>