<h1>Hey team, {{ team.name }}!</h1>

<p>Thanks for registering for <strong>InnovateTJ</strong>! This is a confirmation email for your registration and has important information for the day of. Your team is number {{ team.number }}. Save this number- it will be used for slack, pitching, and grading purposes. If you have any questions prior to the event, please email us <a href="mailto:tjhsstlaunchx@gmail.com">here</a>.</p>
<br>
Your team includes:
<br>
{% for member in members %}
<p>Team Member {{ forloop.counter }}: {{ member.name }}</p>
<p><i>From {{ member.school }} @ {{ member.school }}</i></p>
<br>
{% endfor %}
<p>We'll be seeing you on February 20th, 2021 from 9AM to 5AM. A detailed schedule can be found <a href="https://docs.google.com/document/d/1YqtaGAb2UsxyhP8cDTqdB3r5gou1mGvpRz7_IUdZfoE/edit?usp=sharing">here</a>. Announcements will be sent through Slack, which you can join <a href="https://join.slack.com/t/innovatetj/shared_invite/zt-mgl7mllg-rXurWXlHdxrOB70Uxhuj2A">here</a>. Instructions for Slack can also be found <a href="https://docs.google.com/document/d/1qQulANDfJrNCMFwXEGXsKmDbGShZk2MlCF4oGm49JnQ/edit?usp=sharing">here</a>. We will send team google meets links and instructions for the platform the day before InnovateTJ so stay on the lookout! Until then, keep innovating.</p>
<br>
<p>
    Best,<br>
    InnovateTJ Team<br>
    tjhsstlaunchx@gmail.com
</p>
