{% extends "launchx/base.html" %}
{% load launchx_extras %}
<script src="{% static 'innovate/starfield.js' %}"></script>
{% block styles %}
<link rel="stylesheet" href="{% static 'innovate/index.css' %}">
{% endblock %}

{% block content %}
<div class="star"></div>
<div class="meteor-1"></div>
<div class="meteor-2"></div>
<div class="meteor-3"></div>
<div class="meteor-4"></div>
<div class="meteor-5"></div>
<div class="meteor-6"></div>
<div class="meteor-7"></div>
<div class="meteor-8"></div>
<div class="meteor-9"></div>
<div class="meteor-10"></div>
<div class="meteor-11"></div>
<div class="meteor-12"></div>
<div class="meteor-13"></div>
<div class="meteor-14"></div>
<div class="meteor-15"></div>
<div class="container">
    <header class="header">
        <h1><small>It's time to</small><br>InnovateTJ!</h1>
        <h3>TJ's very own entrpreneurial pitch and workshop event!</h3>
    </header>
</div>
<section class="basic-info row mt-sm-5">
    <div class="col-sm-8">
        <ul>
            <li>Who: <span class="list-text">Teams 2-4 high school students</span></li>
            <li>What: <span class="list-text">A collaborative event where you and other innovators will develop a
                    business pitch for real entrepreneurs with the chance of winning real money and other prizes!</span>
            </li>
            <li>When: <span class="list-text">Feb 20th, 2021 @ 9AM - 5PM</span></li>
            <li>Where: <span class="list-text">Online</span></li>
            <li>How: <span class="list-text">$20 per team </span></li>
        </ul>
    </div>
    <div class="col-sm-4 sign-up">
        <h1>Sign up </h>
            <a href="{% url 'competitor-signup' %}" class="btn btn-light signup">Here</a>
    </div>
</section>
{% endblock %}